In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Katsuura,JP,2022-01-29 00:19:16,35.1333,140.3000,45.10,70,100,7.85
1,1,Port Elizabeth,ZA,2022-01-29 00:17:22,-33.9180,25.5701,66.09,94,75,12.66
2,2,Hongjiang,CN,2022-01-29 00:19:16,27.1100,109.9956,34.07,98,100,3.62
3,3,Tocopilla,CL,2022-01-29 00:19:16,-22.0920,-70.1979,67.53,74,23,4.43
4,4,Durban,ZA,2022-01-29 00:19:17,-29.8579,31.0292,70.92,93,98,5.01

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Center and size 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Atuona,PF,2022-01-29 00:19:17,-9.8000,-139.0333,77.76,72,8,13.53
12,12,Maningrida,AU,2022-01-29 00:19:18,-12.0667,134.2667,82.98,79,100,11.88
13,13,Byron Bay,AU,2022-01-29 00:19:19,-28.6500,153.6167,82.35,73,62,8.61
14,14,Salalah,OM,2022-01-29 00:14:26,17.0151,54.0924,75.29,38,0,14.97
16,16,Bengkulu,ID,2022-01-29 00:19:19,-3.8004,102.2655,76.14,86,100,3.49
17,17,Mataura,NZ,2022-01-29 00:16:17,-46.1927,168.8643,75.13,29,97,5.79
19,19,Cap Malheureux,MU,2022-01-29 00:19:20,-19.9842,57.6142,77.49,82,4,1.99
21,21,Honiara,SB,2022-01-29 00:19:21,-9.4333,159.9500,76.26,94,100,2.33
25,25,Rikitea,PF,2022-01-29 00:19:22,-23.1203,-134.9692,78.26,69,100,14.18
26,26,Georgetown,MY,2022-01-29 00:17:08,5.4112,100.3354,79.90,91,20,3.44

In [10]:
preferred_cities_df.count()

City_ID       131
City          131
Country       131
Date          131
Lat           131
Lng           131
Max Temp      131
Humidity      131
Cloudiness    131
Wind Speed    131
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
8           Atuona      PF     77.76  -9.8000 -139.0333
12      Maningrida      AU     82.98 -12.0667  134.2667
13       Byron Bay      AU     82.35 -28.6500  153.6167
14         Salalah      OM     75.29  17.0151   54.0924
16        Bengkulu      ID     76.14  -3.8004  102.2655
17         Mataura      NZ     75.13 -46.1927  168.8643
19  Cap Malheureux      MU     77.49 -19.9842   57.6142
21         Honiara      SB     76.26  -9.4333  159.9500
25         Rikitea      PF     78.26 -23.1203 -134.9692
26      Georgetown      MY     79.90   5.4112  100.3354

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Atuona,PF,77.76,-9.8000,-139.0333,Villa Enata
12,Maningrida,AU,82.98,-12.0667,134.2667,Dhukurrdji Lodge
13,Byron Bay,AU,82.35,-28.6500,153.6167,Backpackers Inn
14,Salalah,OM,75.29,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
16,Bengkulu,ID,76.14,-3.8004,102.2655,Grage Hotel Bengkulu
17,Mataura,NZ,75.13,-46.1927,168.8643,Ellie's Villa
19,Cap Malheureux,MU,77.49,-19.9842,57.6142,Pereybere Hotel & Spa
21,Honiara,SB,76.26,-9.4333,159.9500,Heritage Park Hotel
25,Rikitea,PF,78.26,-23.1203,-134.9692,People ThankYou
26,Georgetown,MY,79.90,5.4112,100.3354,Cititel Penang

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))